{{#*inline "page"}}
<div>
    {{#each fighter_links}}
    <p><a href="{{link}}">{{name}}</a></p>
    {{/each}}
</div>

<div>
    <h1>{{title}}</h1>
    <pre>
        <p>{{frame}}</p>
    </pre>
    <pre>
        <p>{{scripts}}</p>
    </pre>
</div>

<div>
    {{#each action_links}}
    <p><a href="{{link}}">{{name}}</a></p>
    {{/each}}
</div>

{{/inline}}

{{~> base title=title page_home=true mod_names=mod_names ~}}
