<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{#each preload}}
    <link rel="preload" href="{{path}}" as="{{as_}}" crossorigin="anonymous">
    {{/each}}

    <link rel="shortcut icon" type="image/png" href="{{assets.favicon_png}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{assets.style_css}}">
    <title>{{title}}</title>

    <!--twitter-->
    <meta name="twitter:card" content="summary_large_image">
    </meta>
    <meta name="twitter:title" content="{{title}}">
    </meta>
    <meta name="twitter:image" content="{{twitter_image}}">
    </meta>
    <!-- Discord caps at 78 lines or 276 characters ignoring '\n' -->
    <!-- Twitter caps at 3 lines -->
    <meta name="twitter:description" content="{{twitter_description}}">
    </meta>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Rukai Data</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto">
                {{#each mod_links}}
                {{#if current}}
                <li class="nav-item active">
                    {{else}}
                <li class="nav-item">
                    {{/if}}
                    <a class="nav-link" href="{{link}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </nav>

    {{~> page}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
