{{#*inline "page"}}

<div class="container-fluid">
    <div class="row">
        <!-- Display nothing from xs to sm, display something from md to xl -->
        <nav class="d-none d-md-block col-2 sidebar sidebar-left">
            <ul class="nav nav-pills flex-column">
                {{#each fighter_links}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </nav>

        <!-- take up 12 columns from xs to sm, take up 8 columns from md to xl -->
        <div class="col-12 col-md-8">
            <h1>{{title}}</h1>
            <div id="fighter-render">
            </div>
            <p>
                |
                {{#each frame_buttons}}
                <a href="javascript:fighter_render.set_frame({{index}});" class="frame-button {{class}}">{{index}}</a> |
                {{/each}}
            </p>
            <div>
                <button type="button" id="run-toggle" class="btn btn-sm btn-primary" onclick="fighter_render.run_toggle()">Run</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="fighter_render.previous_frame()">Previous Frame</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="fighter_render.next_frame()">Next Frame</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="fighter_render.face_left()">Face Left</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="fighter_render.face_right()">Face Right</button>
            </div>
            <div class="form-check form-check-inline">
                <select class="form-control" id="invulnerable-select" style="margin-right:10px;margin-top:4px;" onchange="fighter_render.set_invulnerable_type(this.value)">
                    <option>Hit</option>
                    <option>Grab</option>
                    <option>Trap Item</option>
                </select>
                <label class="form-check-label" for="invulnerable-select">Invulnerable</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="wireframe-checkbox" onclick="fighter_render.wireframe_toggle()">
                <label class="form-check-label" for="wireframe-checkbox">Wireframe</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="ecb-checkbox" onclick="fighter_render.ecb_toggle()">
                <label class="form-check-label" for="ecb-checkbox">ECB</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="perspective-checkbox" onclick="fighter_render.perspective_toggle()">
                <label class="form-check-label" for="perspective-checkbox">Perspective</label>
            </div>

            {{#with attributes}}
            <h2>Stats</h2>
            {{/with}}
            <table>
                {{#each attributes}}
                <tr><td>{{{name}}}:</td></td><td>{{value}}</td></tr>
                {{/each}}
            </table>

            {{#with throw_table}}
            <h2>Throw</h2>
            <h3>{{frames}}</h3>
            <div style="overflow-x: auto;">
                <table class="hitbox-table">
                    <thead>
                        <tr>
                        {{#each header}}
                        <th>{{{this}}}</th>
                        {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                        <tr class="hitbox-table-id-0">
                            {{#each this}}
                            <td>{{{this}}}</td>
                            {{/each}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/with}}


            {{#with hitbox_tables}}
            <h2>Hitboxes</h2>
            <p>Move staling reduces damage up to 45%. Move staling also reduces final knockback, shieldstun and hitlag because damage is used in their formulas.</p>
            {{/with}}
            {{#each hitbox_tables}}
            <h3>{{frames}}</h3>
            <div style="overflow-x: auto;">
                <table class="hitbox-table">
                    <thead>
                        <tr>
                        {{#each header}}
                        <th>{{{this}}}</th>
                        {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                        <tr class="hitbox-table-id-{{this.1}}"> <!-- this.1 is the hitbox ID -->
                            {{#each this}}
                            <td>{{{this}}}</td>
                            {{/each}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/each}}

            <h2>Scripts</h2>
            <h3 id="script-main">Main</h3>
            {{{script_main}}}
            <h3 id="script-gfx">GFX</h3>
            {{{script_gfx}}}
            <h3 id="script-sfx">SFX</h3>
            {{{script_sfx}}}
            <h3 id="script-other">Other</h3>
            {{{script_other}}}

            <div id="fighter-scripts"></div>
            <script>
                const fighter_subaction_data = {{{subaction}}};
                const fighter_subaction_extent = {{{subaction_extent}}};
            </script>
        </div>

        <!-- Display nothing from xs to sm, display something from md to xl -->
        <nav class="d-none d-md-block col-2 sidebar sidebar-right">
            <h2>Jabs</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.attacks_jab}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Tilt Attacks</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.attacks_tilt}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Smash Attacks</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.attacks_smash}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Dash Attack</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.attacks_dash}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Aerial Attacks</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.attacks_aerial}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Grabs</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.grabs}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Ledge Options</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.ledge_options}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Dodge</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.dodges}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Knockdown</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.knockdowns}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Trip</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.trips}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Movement</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.movements}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            {{#if subaction_links.has_glide}}
            <h2>Glide</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.glide}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            {{/if}}
            {{#if subaction_links.has_crawl}}
            <h2>Crawl</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.crawl}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            {{/if}}
            <h2>Footstool</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.footstool}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Specials</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.specials}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Techs</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.tech}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Stun</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.stun}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Sleep</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.sleep}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Swim</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.swim}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Final Smash</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.finals}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Taunts and Victory</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.taunts}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Item Throw</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.item_throw}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Item</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.item}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>Misc</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.misc}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
            <h2>None</h2>
            <ul class="nav nav-pills flex-column">
                {{#each subaction_links.none}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </nav>
    </div>
</div>

<script src="https://unpkg.com/three@0.94.0/build/three.min.js"></script>
<script src="{{assets.subaction_render_js}}"></script>

{{/inline}}

{{~> base ~}}
