{{#*inline "page"}}

<div class="container-fluid">
    <div class="row">
        <!-- Display nothing from xs to sm, display something from md to xl -->
        <nav class="d-none d-md-block col-2 sidebar sidebar-left">
            <ul class="nav nav-pills flex-column">
                {{#each fighter_links}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}/subactions">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}/subactions">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </nav>

        <!-- take up 12 columns from xs to sm, take up 8 columns from md to xl -->
        <div class="col-8 col-md-8">
            <h1>{{title}}</h1>
            <h2>Jabs</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.attacks_jab}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Tilt Attacks</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.attacks_tilt}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Smash Attacks</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.attacks_smash}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Dash Attack</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.attacks_dash}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Aerial Attacks</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.attacks_aerial}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Grabs</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.grabs}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Ledge Options</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.ledge_options}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Dodge</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.dodges}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Knockdown</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.knockdowns}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Trip</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.trips}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Movement</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.movements}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            {{#if subaction_links.has_glide}}
            <h2>Glide</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.glide}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            {{/if}}
            {{#if subaction_links.has_crawl}}
            <h2>Crawl</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.crawl}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            {{/if}}
            <h2>Footstool</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.footstool}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Specials</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.specials}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Techs</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.tech}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Stun</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.stun}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Sleep</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.sleep}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Swim</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.swim}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Final Smash</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.finals}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Taunts and Victory</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.taunts}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Item Throw</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.item_throw}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Item</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.item}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Misc</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.misc}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>None</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each subaction_links.none}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>

        <!-- Display nothing from xs to sm, display something from md to xl -->
        <div class="col-4 col-md-2"></div>
    </div>
</div>

{{/inline}}

{{~> base ~}}
