{{#*inline "page"}}

<div class="container-fluid">
    <div class="row">
        <!-- Display nothing from xs to sm, display something from md to xl -->
        <nav class="d-none d-md-block col-2 sidebar sidebar-left">
            <ul class="nav nav-pills flex-column">
                {{#each fighter_links}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </nav>

        <!-- take up 12 columns from xs to sm, take up 8 columns from md to xl -->
        <div class="col-12 col-md-8">
            <h1>{{title}}</h1>
            {{{script}}}
        </div>

        <!-- Display nothing from xs to sm, display something from md to xl -->
        <nav class="d-none d-md-block col-2 sidebar sidebar-right">
            <p>Fighter Specific</p>
            <ul class="nav nav-pills flex-column">
                {{#each script_fighter_links}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>

            <p>Common</p>
            <ul class="nav nav-pills flex-column">
                {{#each script_common_links}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </nav>
    </div>
</div>

{{/inline}}

{{~> base title=title page_home=false twitter_description=twitter_description twitter_image=twitter_image ~}}
