{{#*inline "page"}}

<div class="container-fluid">
    <div class="row">
        <!-- Display nothing from xs to sm, display something from md to xl -->
        <nav class="d-none d-md-block col-2 sidebar sidebar-left">
            <ul class="nav nav-pills flex-column">
                {{#each fighter_links}}
                {{#if current}}
                <li><a class="nav-link active" href="{{link}}/scripts">{{name}}</a></li>
                {{else}}
                <li><a class="nav-link" href="{{link}}/scripts">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ul>
        </nav>

        <!-- take up 12 columns from xs to sm, take up 8 columns from md to xl -->
        <div class="col-8 col-md-8">
            <h1>{{title}}</h1>
            <h2>Fighter Specific Subroutines</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each script_fragment_fighter_links}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
            <h2>Common Subroutines</h2>
            <nav class="sidebar">
                <ul class="nav nav-pills flex-column">
                    {{#each script_fragment_common_links}}
                    <li><a class="nav-link" href="{{link}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>

        <!-- Display nothing from xs to sm, take up space from md to xl -->
        <div class="col-4 col-md-2"></div>
    </div>
</div>

{{/inline}}

{{~> base ~}}
